langchain
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
beautifulsoup4
faiss-cpu
streamlit
langchain_groq
langchain_core
fastapi
langserve
uvicorn
sse_starlette
langchain_huggingface
transformers
chromadb
